@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.offset:before{
  display: block;
  content: " ";
  height: 4rem;
  margin-top: -4rem;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .1rem;
  background:rgba(0,0,0,0.6)!important;
}

.navbar-brand img{
  height: 2rem;
}

.navbar-nav li{
  padding-right: .2rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: grey;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}

.home-inner{
  background-image: url(img/computers.png);
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #fff;
}

.caption h1{
  text-transform: uppercase;
  font-size:3rem ;
  font-weight:700;
  letter-spacing: .1rem;
  text-shadow: .2rem .2rem .8rem black;
}

.caption h3{
  font-size:1.5rem ;
  letter-spacing: .1rem;
  padding-bottom: 2rem;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .2rem black;
  padding-bottom: 3rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 2rem;
  font-size: 1.2rem;
}

/* --- Course Section ---*/


.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}



/*--- features section --*/

.jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3 .heading{
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.heading-underline {
  border: .1rem solid #13ebba;
  width: 3rem;
  margin: 1.7rem auto 2rem; 
}

/*--- to change the color of the icon --*/

.features svg.svg-inline--fa{
  color: #13ebba;
}

.features h3{
  font-weight: 700;
  font-size: 1.5rem;
}

/*-- Resources Section --*/

.fixed{
  background-image: url(img/apple.png);
}

.dark{
  background:rgba(0,0,0,0.75);
  height: 70vh;
  color: #fff;
}
.fixed-background h3{
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.fixed-background p{
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 1.5rem;  
}

.fixed-background .col-12{
  padding-top: 5rem;
}

/*--- Client Section --*/

#clients h3{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-bottom: .3rem;
}

.clients img{
  border-radius: 50%;
  width: 100%;
}

blockquote svg.svg-inline--fa {
  color: #13ebba;
  margin-bottom: .8rem;
  margin-right: .4rem;
}

blockquote hr{
  border: .04rem solid #13ebba;
}

/*--- Contact Section --*/

footer {
  background-color: rgba(0,0,0,0.7);
  padding-top: 3.5rem;
  color: #fff;
  padding-bottom: 1.5rem;
}

footer img{
  height: 3rem;
}

footer p, footer strong{
  padding-top: 1.5rem;
  color: #fff;
}

footer svg.svg-inline--fa{
  color: #fff;
}

.socket{
  width: 100%;
  border: .04rem solid #fff;
  margin-bottom: .5rem;
}

@media only screen and (max-width:600px){
  .caption h1{
  font-size:1.8rem;
  }

  .caption h3{
    font-size:1rem ;
    padding-bottom: 2rem;
    padding-bottom: 1.5rem;
  }

  .btn-lg{
    padding: .3rem 2rem;
    font-size: 1.2rem;
  }
  .narrow h1{
  font-size: 1.8rem;
  }

  .btn.secondary{
    font-size: 1.2rem;
    padding: .4rem 2rem;
    margin: .2rem;
  }
  .dark{
  height: 130vh;
  }
  .fixed-background h3{
    padding-bottom: .1rem;
  }
  .fixed-background .col-12{
  padding-top: 3.5rem;
  }
  footer img{
  height: 2rem;
  }

  footer p, footer strong{
    padding-top: .7rem;
  }

  .socket{
    margin-bottom: .5rem;
  }
  footer svg.svg-inline--fa{
  font-size: 1.8rem;
  }

}
/*============= COURSE SECTION =============*/



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
